.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    background-color: white;
    margin: 25px 0 25px 0;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.card .back-container {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 10px 0;
}

.card .back-container a {
    display: flex;
    align-items: center;
    color: black;
}

.card .back-container a img {
    width: 15px;
    margin: 0 10px 0 0;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
}

.edit-form p {
    width: 100%;
    margin: 10px 0;
}

.edit-form p span {
    display: none;
}

.card input {
    color: black;
    padding: 3px 5px 2px 5px;
    background-color: white;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 5px;
}

.card input:hover {
    transition: all 0.2s ease-in;
    background: rgb(247, 247, 247);
}

#login-card input {
    width: 50%;
}

#login-card form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#login-card form p {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

#login-card form input[type="submit"] {
    margin-top: 10px;
}

#login-card form span,
#login-card form ul,
#login-card form p:nth-child(6){
    display: none;
}