body {
    font-family: sans-serif;
    margin: 0;
    background: #e6ecf0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo img{
    width: 40px;
    padding: 0 20px 0 0;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    align-items: center;
    position: fixed;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

#nav-buttons a {
    border-bottom: 3px solid white;
    transition: all 0.2s ease-out;
}

#nav-buttons a:hover {
    transition: all 0.2s ease-in;
    border-bottom: 3px solid gray;
    color: grey;
}

#nav a {
    margin: 0 20px 0 20px;
    color: black;
}

#tuite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 70%;
    margin: 25px 0 25px 0;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#user-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    border-bottom: 1px solid rgb(209, 209, 209);
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 0;
}

#user-block img {
    width: 50px;
    background-color: #ddd;
    border-radius: 100%;
    height: 50px;
    object-fit: cover;
    width: 50px;  
    margin: 0 10px 0 0;
}

#tuite-text {
    width: 90%;
    padding: 20px 0 20px 0;
}

#reactions {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

#reactions div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}

#reactions div a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#reactions div a i {
    transition: all 0.1s linear;
    height: auto;
    margin: 0 5px 3px 0;
}

#reactions div a:hover i{
    cursor: pointer;
    transform: scale(1.1);
}

.fas.fa-heart {
    color: red;
}

#gambiarra {
    height: 40px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0 0 0;
    width: 40%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

#id_content {
    width: 93%;
    margin: 0 0 10px;
}

#form input {
    padding: 2px 10px 2px 10px;
    border: 1px solid rgb(209, 209, 209);
    background-color: white;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

#help_text {
    color: gray;
    width: 100%;
    padding: 10px 0 0 20px;
}

.message {
    color: gray;
    padding: 10px 0 0 0;
}

/*Remoções padrão do projeto */

h1, h2, h3, p {
    margin: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: gray !important;
}

textarea, input, select {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.profile-image {
    background-color: #ddd;
    border-radius: 100%;
    height: 100px;
    object-fit: cover;
    width: 100px;  
    margin: 20px;
}

.profile-text {
    padding: 10px 0 10px 0;
}

#edit-link {
    color: black;
    padding: 3px 5px 2px 5px;
    background-color: white;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

a, u {
    text-decoration: none;
}

#single-tuite-back {
    width: 70%;
    padding-bottom: 0;
    padding-top: 20px;
}