{% load static %}
{% load user_liked %}

<div id="tuite">
    <div id="user-block">
        <img src="{{ tuite.author.picture.url }}" alt="">
        <a href="{% url 'users:profile' tuite.author.pk %}" id="username"> {{ tuite.author }}</a>
    </div>
    <div id="tuite-text">
        {{ tuite }}
    </div>
    <div id="reactions">
        <p>{{ tuite.date_created }}</p>
        <div>
            <a href="{% url 'tuites:like' tuite.id %}" class="like-tuite">
                <i class="{% liked_tuite_heart_icon %}"></i> {{ tuite.likes_count }}
            </a>
        </div>
    </div>
</div>