{% load staticfiles %}
<nav id="nav">
    <div id="logo">
        <img src="{% static 'img/albatross.svg' %}" alt="">
        <h1 id="logomarca">Tuirer</h1>
    </div>
    <div id="nav-buttons">
        <a href="{% url 'index' %}">Início</a>
        <a href="{% url 'tuites:post_tuite' %}">Postar Turite</a>
        {% if user.is_authenticated %}
            <a href="{% url 'users:profile' request.user.pk %}"> {{ request.user.username }}</a>
            <a href="{% url 'users:logout' %}"> Sair</a>
        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:signup' %}">Cadastro</a>
        {% endif %}
    </div>
</nav>