{% extends "base.html" %}
{% load widget_tweaks %}

{%block body %}
    {% if error %} 
        <p class="error"> {{ error }} </p> 
    {% endif %}
    {% if sucess %} 
        <p class="error"> {{ sucess }} </p> 
    {% endif %}

    
    <form method="post" id="form">
        {% csrf_token %}
        <p id="help_text">Turite Algo: </p>
        {% for field in form %}
        <label for="{ field.id_for_label }}"></label>
        {% render_field field class="post-tuite-field" %}
        {{ field.errors }}
        {% endfor %}
        <input type="submit" value="Postar Turite">
    </form>
    {% if messages %}
        {% for message in messages %}
            <p class="message"> {{ message }}</p>
        {% endfor %}
    {% endif %}
    
    {% if error %}
        <script>
            alert('{{ error }}')
        </script>
    {% endif %}
{% endblock %}