{% extends 'base.html' %}
{% load staticfiles %}
{% load following %}

{% block body %}
    {% if request.user.pk == profile.pk %}
        <h3>Bem vindo ao seu perfil!</h3>
    {% endif %}
    <div class="profile-container">
        <div>
            <div>
                <img src="{{ profile.picture.url }}" class="profile-image">
            </div>
            <div>
                <h3 class="profile-text">{{ profile.username }}</h3>
                <p class="profile-text">{{ profile.email }}</p>
            </div>
        </div>
        <div>
            <div class="profile-text1">
                Seguidores: {{ profile.following_count }}
                <div class="profile-text-list1">
                    {% for friend in profile.following.all %}
                        <div class="friend-text-list-cell">
                           <a href="{% url 'users:profile' friend.pk %}">{{ friend }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="profile-text2">
                Seguindo: {{ profile.followers_count }}
                <div class="profile-text-list2">
                    {% for friend in profile.followers.all %}
                        <div class="friend-text-list-cell">
                           <a href="{% url 'users:profile' friend.pk %}">{{ friend }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'users:follow' profile.pk %}" class="follow-button">{% followingBool profile.pk %}</a>
            {% if profile == request.user %}
                <a id="edit-link" href="{% url 'users:edit' request.user.pk %}">Editar Perfil</a>
            {% endif %}
        </div>
    </div>
    <!--{{ profile.tuites.all }} -->
    {% for tuite in profile.tuites.all %}
        {% include 'includes/card.html' %}
    {% endfor %}
{% endblock %}