{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <img src="{{ profile.picture.url }}" class="profile-image">
    <p class="profile-text">Nome: {{ profile.username }}</p>
    <p class="profile-text">E-mail: {{ profile.email }}</p>
    {% if profile == request.user %}
        <a id="edit-link" href="{% url 'users:edit' request.user.pk %}">Editar Perfil</a>
    {% endif %}
    <!--{{ profile.tuites.all }} -->
    {% for tuite in profile.tuites.all %}
        {% include 'includes/card.html' %}
    {% endfor %}
{% endblock %}